@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .tictactoe {
	display: grid;
	background-color: #0ff;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
	width: 92VW;
	height: 53VH;
    }
    .tictactoe > * {
	padding: 100%;
	background-color: #333;
	font-size: 10VH;
	color: #fff;
    }
    a > button {
	margin-top: 3VH;
	width: 92VW;
	height: 10VH;
	font-size: 8VH;
    }
    h1 {
	width: 92VW;
	height: 12VH;
	font-size: 10VH;
    }
}

body {
    margin: 40px;
}
/*
.tictactoe {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #FFF;
}*/

.box {
    padding: 40px;
    border-radius: 5px;

}
